<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <h1>Please Login</h1>
    <form action="/login" method="POST" autocomplete="off">
      <div class="signupAdmin">
        <label>
          Email:
          <input type="email" name="email" value="admin@admin" required />
        </label>
        <label>
          Password:
          <input type="password" name="password" value="admin" required />
        </label>
        <div class="btn"><input type="submit" value="Login" /></div>
      </div>
    </form>
  </body>
</html>
