<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <h1>You are adding new teacher</h1>
    <form action="/teachers" method="post"> 
      <div class="addNewTeacher">
      <label> Name: <input type="text" name="name" /> </label> <br />
      <label> Highest Degree: <input type="text" name="highestDegree" /> </label
      ><br />
      <label> Photo: <input type="text" name="img" /> </label><br />
      <label> Subjects: <input type="text" name="subjects" /> </label><br />
      <label> Description: <input type="text" name="description" /> </label
      ><br />
      <div class="btn"><input type="submit" value=" + " /></div>
      
    </form>
  </div>
  </body>
</html>
