<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <h1>Sign Up</h1>

    <form action="/signup" method="POST">
      <div class="signupAdmin">
        <label>
          Email:
          <input type="email" name="email" required />
        </label>
        <label>
          Password:
          <input type="password" name="password" required />
        </label>
        <div class="btn"><input type="submit" value="Sign up" /></div>
      </div>
    </form>
  </body>
</html>
